@font-face {
	font-family: "Dancing Script";
	src: url(../fonts/dancing-script.otf);
}

@font-face {
	font-family: "Adobe Caslon";
	src: url(../fonts/adobe_caslon.ttf);
}

@font-face {
	font-family: "Titillium Light";
	src: url(../fonts/titillium-light.otf);
}

@font-face {
	font-family: "Titillium Regular";
	src: url(../fonts/titillium-regular.otf);
}

@font-face {
	font-family: "Titillium Thin";
	src: url(../fonts/titillium-thin.otf);
}

@font-face {
	font-family: "Segoe Print";
	src: url(../fonts/segoe-print.ttf);
}

@font-face {
	font-family: "Roboto Light";
	src: url(../fonts/roboto-light.ttf);
}

body {
	font-family: "Titillium Regular";
	font-size: 15px;
	color: #A8A8A8;
}

/*REMOVER UNA VEZ INSERTADO EL HEADER Y EL FOOTER*/
header>img,
footer>img {
	width: 100%;
}
/*REMOVER UNA VEZ INSERTADO EL HEADER Y EL FOOTER*/

#home {
	padding: 20px 0 0;
	background-image: url(../img/banner_1.jpg);
	position: relative;
	color: #fff;
}

.font-dancing-script {
	font-family: "Dancing Script";
}

.font-44 {
	font-size: 44px;
}

.dark-text-shadow {
	text-shadow: -2px -2px 6px rgba(0,0,0,0.5);
}

.dark-container {
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	padding: 20px 30px;
	color: #fff;
	font-family: "Roboto Light";
}

a {
	color: #7E9BD3;
}

.dark-container .banner {
	background-color: #323232;
	color: #C4C4C4;
	padding: 15px 0;
	text-align: center;
	margin: 20px -30px;
}

.dark-container p {
	margin-bottom: 15px;
}

.two-lines-icon {
	margin-top: 10px;
}

.btn-orange {
	text-shadow: -1px -1px 6px rgba(0,0,0,0.5);
	font-family: "Dancing Script";
	background-color: #ff9b29;
	color: #fff !important;
	padding: 10px 0;
	text-align: center;
	border-bottom: 5px solid #b86114;
	font-size: 36px;
	width: 100%;
	display: block;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.btn-orange:hover {
	text-decoration: none;
}

section.white {
	background-color: #fff;
	padding: 30px 0;
}

.breadcrumb {
	background-color: transparent;
}

.breadcrumb a {
	text-decoration: underline;
}

.gray-title {
	background-color: #F5F5F5;
	padding: 10px;
	color: #5F5F5F;
	font-size: 18px;
	font-weight: bold;
	width: 100%;
}

.resumed-list {
	list-style: none;
	-webkit-padding-start: 0;
}

.resumed-list li {
	padding: 10px 10px 10px 25px;
	border-bottom: 1px dashed #C9C9C9;
	position: relative;
}

.resumed-list li:after {
	content: " ";
	background-image: url(../img/more_icon.png);
	width: 15px;
	height: 15px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -7px;
}

.orange-link {
	color: #F99442;
}

.post {
	padding: 0 0 10px;
	border-bottom: 1px dashed #C9C9C9;
	line-height: 16px;
}

img {
	max-width: 100%;
}

.promotion {
	background-image: url(../img/img_bg_1.jpg);
	font-family: "Titillium Light";
	width: 289px;
	height: 213px;
	margin-top: 10px;
	padding: 20px;
	color: #fff;
}

.promotion>span {
	font-size: 22px;
	line-height: 20px;
	margin-bottom: 20px;
	display: block;
}

.promotion .check-list {
	list-style-image: url(../img/check_icon.png);
	-webkit-padding-start: 25px;
	font-size: 16px;
	padding-top: 20px;
}

.black-title {
	font-family: "Segoe Print";
	background-color: #2D2D2D;
	padding: 10px 20px;
	width: 100%;
	color: #fff;
	line-height: 48px;
	white-space: nowrap;
}

.black-title a {
	line-height: 42px;
}

section.blue {
	background: -webkit-linear-gradient(#63ACCF, #A8D5EA); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#63ACCF, #A8D5EA); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#63ACCF, #A8D5EA); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#63ACCF, #A8D5EA); /* Standard syntax */
	padding: 30px 0;
	color: #fff;
	font-family: "Titillium Light";
}

.blue-box {
	background-color: #7BBAD9;
	padding: 20px 30px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 20px 0;
}

.main-title {
	margin-top: 5px;
	border-bottom: 1px solid #DBDBDB;
	padding-bottom: 15px;
	color: #616161;
}

.black-text {
	color: #616161;
}

.location-view {
	position: relative;
}

.location-view .days {
	min-width: 180px;
	position: absolute;
	left: 0;
	top: 20px;
	background-color: #fff;
	padding: 5px 15px;
	color: #737373;
	height: 35px;
}

.font-18 {
	font-size: 18px;
}

.location-view .price {
	min-width: 180px;
	font-family: "Titillium Light";
	position: absolute;
	left: 0;
	top: 55px;
	background-color: #4E4E4E;
	color: #fff;
	padding: 5px 15px;
	font-size: 20px;
}

.font-22 {
	font-size: 22px;
}

.location-view .wildlife {
	font-family: "Titillium Light";
	background-color: rgba(0,0,0,0.4);
	color: #fff;
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 10px 20px;
	font-size: 12px;
	line-height: 26px;
}

.location-view .wildlife img {
	margin: 0 5px;
}

.details {
	background-color: #EEEEEE;
	padding: 10px;
	width: 100%;
}

.details .social {
	background-color: #F5F5F5;
	width: auto;
	text-align: center;
	padding: 15px;
	display: inline-block;
	margin: 0 -1px;
	width: 53px;
	height: 53px;
	line-height: 18px;
}

.btn-green {
	font-family: "Titillium Regular";
	background-color: #66A121;
	color: #fff !important;
	padding: 5px 0;
	text-align: center;
	border-bottom: 5px solid #4B8514;
	font-size: 20px;
	width: 100%;
	display: block;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.btn-green:hover {
	text-decoration: none;
}

.combo {
	margin-top: 40px;
}

.combo p,
.post p {
	font-family: "Titillium Light";
}

.orange-hr {
	border-color: #AF5F1A;
}

.orange-checklist {
	list-style-image: url(../img/orange_check.png);
	-webkit-padding-start: 25px;
}

.segoe-print-font {
	font-family: "Segoe Print";
}

.green-arrow-down {
	margin-bottom: -70px;
}

.video-box {
	box-shadow: 0 0 10px 2px #EDEDED;
	padding: 10px;
}

.tag-box {
	position: relative;
	margin-left: 30px;
	border-left: 1px dashed #82BFDB;
}

.tag {
	position: relative;
	height: 70px;
	margin-bottom: 15px;
	padding-left: 40px;
	background-color: #F5F5F5;
	font-family: "Roboto Light";
	font-size: 16px;
}

.tag .icon {
	position: absolute;
	top: 0;
	left: -60px;
}

.tag .content {
	padding: 10px;
	height: 70px;
}

section.orange {
	background-image: url(../img/carousel_section_background.jpg);
	padding: 30px 0;
	color: #fff;
	min-height: 440px;
}

.couple-box {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 20px;
	background-color: #fff;
}

.profile-pic img {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 3px solid #fff;
}

#couple_carousel {
	margin: 30px 0;
}

#couple_carousel .carousel-control {
	width: auto;
}

#couple_carousel .carousel-control.right {
	background: transparent;
	right: -50px;
	top: 50%;
	margin-top: -40px;
}

#couple_carousel .carousel-control.left {
	background: transparent;
	left: -50px;
	top: 50%;
	margin-top: -35px;
}

.gray-text {
	color: #5C5C5C;
}

.profile-pic {
	position: relative;
	z-index: 1;
}

.couples-tag .profile-pic {
	width: 110%;
	position: relative;
	z-index: 1;
}

.profile-title {
	margin: 0 -15px;
	font-size: 20px;
}

.location-img {
	position: relative;
	margin: 0 -5px 20px;
}

.location-img>img {
	margin-top: -30px;
	width: 100%;
}

.location-img .title {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	color: #fff;
	padding: 5px 10px;
	line-height: 26px;
}

.btn-green {
	font-family: "Titillium Light";
	background-color: #66A121;
	color: #fff !important;
	padding: 5px 0;
	text-align: center;
	border-bottom: 5px solid #4E8414;
	font-size: 22px;
	width: 100%;
	display: block;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.btn-green:hover {
	text-decoration: none;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

menu {
	width: 100%;
	position: fixed;
	top: 0;
	padding: 10px 0;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	margin: 0;
	font-family: "Titillium Light";
	z-index: 10;
	height: 80px;
}

menu .category {
	margin: 15px 0;
	text-align: center;
}

menu .category.middle {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

menu a {
	color: #fff;
}

menu a img {
	margin-right: 10px;
}

.profile-cover {
	position: relative;
}

.profile-cover .content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.profile-cover .content .profile-pic {
	position: absolute;
	top: 50%;
	margin-top: -130px;
	left: 50%;
	margin-left: -129px;
	border: 5px solid #fff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	box-shadow: -2px 1px 5px rgba(0,0,0,0.2);
}

.profile-cover .content .title {
	background-color: rgba(255,255,255,0.7);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 20px 0;
	text-align: center;
	color: #565B57;
}

.profile-cover .content .title h1,
.profile-cover .content .title h4 {
	margin: 0;
}

.profile-cover .cover {
	width: 100%;
}

section.gray {
	background-color: #F5F5F5;
	position: relative;
	padding: 20px 0;
	color: #808080;
}

section.gray .black-text {
	color: #5A5A5A;
}

.bordered-img {
	border: 4px solid #fff;
	display: inline-block;
	position: relative;
}

.full-breadcrumb {
	margin: 10px 0;
}

.pack {
	border: 1px solid #DCDCDC;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 20px 10px;
	width: 100%;
	margin-bottom: 20px;
	font-family: "Titillium Light";
}

.hr-margin {
	margin: 20px 0;
}

.gray-box {
	background-color: #F9F9F9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 20px 10px;
	color: #AEAEAE;
	margin: 10px 0 20px;
	font-family: "Titillium Light";
}

.full-width {
	width: 100%;
}

.hotel {
	border: 1px solid #DCDCDC;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	padding: 10px;
	margin-top: 20px;
}

.hotel .detail {
	border: 1px solid #DCDCDC;
	margin: 0 -11px;
	padding: 20px 10px;
}

.hotel .pic {
	margin: -10px -10px 30px;
}

.hotel .pic img {
	width: 100%;
}

.hotel p {
	margin-bottom: 20px;
}

.btn-box {
	border: 1px solid #DCDCDC;
	margin: -1px -11px -11px;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	background-color: #F5F5F5;
	padding: 15px 0;
}

section.gray-mosaic {
	background-image: url(../img/forms_background.png);
	background-size: 100%;
	background-color: #F7F7F7;
	position: relative;
	padding: 20px 0;
	color: #808080;
}

section.gray-mosaic .well {
	background-color: #fff;
	box-shadow: 0 0 0 transparent;
	padding: 30px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.alert-warning {
	color: #CBAC6B;
	background-color: #FDF8E4;
	border-color: #FCEED3;
	margin: 10px 0;
}

.gray-well {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #F7F7F7;
	padding: 20px 30px;
	color: #616161;
}

.gray-well hr {
	border-color: #CFCFCF;
	margin: 10px 0;
}

.wishlist {
	margin-top: 20px;
}

.wishlist .item {
	position: relative;
	height: 160px;
	background-color: #F7F7F7;
	color: #883638;
	width: 100%;
	padding-left: 200px;
	margin-bottom: 10px;
}

.wishlist .item .pic {
	position: absolute;
	width: 200px;
	left: 0;
	top: 0;
}

.wishlist .item .pic img {
	width: 100%;
}

.wishlist .item .content {
	display: inline-block;
	width: 100%;
	padding: 15px 20px;
}

.wishlist .item .content .title {
	margin: -15px -20px 15px;
	padding: 10px 20px;
	border-bottom: 1px solid #E5E5E5;
	font-weight: bold;
	font-size: 18px;
}

.wishlist .item .content .title span {
	font-weight: normal;
	float: right;
	font-size: 22px;
	font-family: "Titillium Light";
	line-height: 26px;
}

.wishlist .item .content .title .days {
	background-color: #69DDF4;
	color: #fff;
	padding: 0 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 10px;
	font-size: 20px;
	line-height: 29px;
}

.wishlist .item .content .status {
	font-weight: bold;
}

.wishlist .item .content .available {
	color: #609b2b;
}

.wishlist .item .content .paid {
	color: #585858;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown:after {
	content: " ";
	position: absolute;
	top: 50%;
	right: 10px;
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #616161;
}

.dropdown select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #fff;
	min-width: 160px;
	border: 1px solid #D0D0D0;
	padding: 5px 20px 5px 10px;
	color: #616161;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 14px;
}

select:focus {
	outline: 0;
}

select.dropdown option {
	color: #858585;
}

.btn-orange.checkout {
	font-family: "Titillium Light";
	text-shadow: 0 2px 1px rgba(0,0,0,0.5);
	font-size: 26px;
}

.profile-cover.cut .content .profile-pic {
	margin-top: -180px;
}

.hr-payment {
	border-color: #cacaca;
}

.well.gray {
	border: none;
}

.well.gray label {
	font-family: "Titillium Light";
	font-weight: normal;
	line-height: 30px;
	color: #616161;
}

.well.gray p {
	margin-bottom: 20px;
}

select.calendar {
	background-image: url(../img/calendar.jpg);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: auto 34px;
	width: 100%;
	height: 34px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #fff;
	min-width: 164px;
	border: 1px solid #cacaca;
	padding: 2px 20px 2px 10px;
	color: #616161;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 14px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.payment-table {
	width: 100%;
}

.payment-table thead {
	background-color: #f7f7f7;
	color: #575757;
	font-weight: bold;
}

.payment-table thead tr th {
	text-align: center;
	padding: 10px 0;
}

.payment-table tbody tr td {
	padding: 10px 0;
	text-align: center;
	border-bottom: 1px solid #c9c9c9;
}

.font-bold {
	font-weight: bold;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.payment-table tbody .total {
	background-color: #f7f7f7;
	color: #575757;
	font-size: 18px;
}

.payment-table tbody .total td {
	border-bottom: none;
}

.payment-table tbody .total td {
	text-align: center;
	padding: 10px 0;
}

.method {
	min-height: 50px;
	color: #696969;
}

.method input[type="radio"] {
	vertical-align: middle;
}

.line-40 {
	margin-top: 14px !important;
}

.font-t-light {
	font-family: "Titillium Light";
}

.line-30 {
	line-height: 30px;
}

.dropdown.mini {
	width: 100%;
}

.dropdown.mini select {
	width: 100%;
	min-width: 0;
	padding: 5px 1px;
}

.fluid-text {
	white-space: nowrap;
}

.small-text {
	line-height: 16px;
	display: block;
}

.container {
	position: relative;
}

.set-up-text {
	font-family: "Titillium Thin";
	position: absolute;
	top: 200px;
	left: 0;
	width: 300px;
	font-size: 30px;
}

.add-pic {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	margin-left: -20px;
	margin-top: -20px;
}

.edit-button {
	margin: 0 10px;
}

.btn-blue {
	width: 100%;
	background-color: #b7d3e0;
	color: #fff;
	text-align: center;
	border-bottom: 5px solid #abc4d0;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 40px 0;
	display: block;
	font-size: 20px;
	font-weight: bold;
}

.btn-blue:hover {
	text-decoration: none;
	opacity: 0.8;
	color: #fff;
}

.uncheck-feature {
	font-size: 14px;
	background-color: #F9F9F9;
	padding: 10px 20px;
	border-radius: 10px;
	margin: 0 20px;
	color: #C3C3C3;
	font-family: "Titillium Light";
}

.uncheck-feature [type="checkbox"] {
	margin-right: 10px;
}

.uncheck-feature [type="checkbox"]:before{
	position: relative;
	display: block;
	width: 15px;
	height: 15px;
	border: 1px solid #E3E3E3;
	content: "";
	background-image: url(../img/checkbox.jpg);
}

.uncheck-feature [type="checkbox"]:after{
	position: relative;
	display: block;
	left: 0px;
	top: -15px;
	width: 15px;
	height: 15px;
	content: "";
	background-repeat: no-repeat;
	background-position:center;
	background-image: url(../img/checkbox.jpg);
	border: 1px solid #E3E3E3;
}

.uncheck-feature [type="checkbox"]:checked:after{
	background-size: 100% 100%;
	background-image:  url(../img/check.png);
}

.add-hotel {
	position: relative;
	border: 3px dashed #EEEEEE;
	border-radius: 515x;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	padding: 150px 20px;
	margin: 20px 0;
}

.add-hotel .add-pic {
	top: 130px;
}

.add-hotel span {
	font-family: "Titillium Light";
	text-align: center;
	font-size: 22px;
	color: #BFBFBF;
	margin: 10px 0;
	display: block;
}

.gray-mosaic .container h2 .uncheck-feature {
	background-color: #fff;
}

.tag-sticker {
	background-color: #F7F7F7;
	color: #AFAFAF;
	padding: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 50px;
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 10px;
}

.tag-sticker img {
	float: left;
	margin-top: 5px;
	margin-right: 10px;
}

.tag-sticker span {
	background-color: #fff;
	color: #9BBF75;
	padding: 2px 5px;
	border-radius: 5px;
	font-style: italic;
	height: 28px;
	width: 28px;
	text-align: center;
	display: inline-block;
	float: right;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background-color: #F7F7F7;
	color: #909090;
	padding-top: 20px;
	font-weight: bold;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
	border-color: #F7F7F7;
	color: #909090;
}

.nav-tabs.nav-justified>li>a {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border: 1px solid #EDEDED;
	margin-right: -1px;
	color: #B4B4B4;
}

.nav-tabs>li>a:hover {
	border-color: #F7F7F7;
	background-color: #F7F7F7;
	color: #909090;
	padding-top: 20px;
}

.tab-content {
	background-color: #F7F7F7;
	padding: 20px;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	margin-bottom: 20px;
}

.table {
	margin-bottom: 0;
}

.table>tbody>tr>td {
	line-height: 40px;
	border: none;
	border-bottom: 1px solid #DCDCDC;
}

.table>tbody>tr:last-child>td {
	border: none;
}

.table-count {
	background-color: #fff;
	padding: 2px 5px;
	border-radius: 5px;
	height: 30px;
	width: 30px;
	text-align: center;
	display: inline-block;
	margin: 0 10px;
	line-height: 25px;
}

.btn-blue.mini {
	padding: 30px 0;
}

.tag.mini {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5px 10px;
	height: auto;
}

.full-width {
	width: 100%;
}

.table.guests thead tr th {
	font-family: "Titillium Light";
	border-top: 1px solid #EEEEEE !important;
	border-bottom: 1px solid #EEEEEE;
	padding: 10px;
	text-align: center;
	font-weight: normal;
}

.table.guests thead tr th:first-child {
	border: none !important;
	background-color: #25D4F3;
	color: #fff;
	border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	width: 40px;
}

.table.guests thead tr th:last-child {
	border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	border-right: 1px solid #EEEEEE;
	display: block;
	margin-bottom: -1px;
	text-align: right;
	padding: 10px 20px;
}

.table.guests tbody tr td {
	font-family: "Titillium Light";
	padding: 10px 0;
	border-bottom: 1px solid #EEEEEE;
	text-align: center;
	color: #6C6C6C;
}

.green-text {
	color: #6FA72C !important;
}

.table.guests tbody tr:last-child td {
	border: none;
}

.white-line-well {
	padding: 15px 30px;
	border: 1px solid #DFDFDF;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.table.payment-details {
	border-spacing: 0 10px;
	border-collapse: separate;
}

.table.payment-details tbody tr td {
	background-color: #F7F7F7;
	border: none;
	margin-bottom: 10px;
}

.table.payment-details tbody tr td:first-child {
	border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
}

.table.payment-details tbody tr td:last-child {
	border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
}

#honeymoon-registry {
	padding: 20px 0 0;
	background-image: url(../img/banner_2.jpg);
	position: relative;
	color: #fff;
}

.quote {
	font-family: "Titillium Light";
	padding: 168px 0 30px;
}

.rings {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	left: -30px;
}

.gray-well .divider {
	border-top: 1px solid #e8e8e8;
	margin: 20px -20px;
}

.red-text {
	color: #9A4038;
}

.destination {
	margin: 10px 0 20px;
}

.destination p {
	font-family: "Titillium Light";
	font-size: 16px;
}

.font-titillium-light {
	font-family: "Titillium Light";
}

.couples-tag .location-img {
	margin-bottom: 0;
}

.couples-tag h4 {
	margin: 0 -5px;
	padding: 30px;
	background-color: #f5f5f5;
	color: #7D7D7D;
	font-family: "Titillium Light";
}

.white.big {
	padding: 70px 0;
}

.couples-tag .profile-title-big {
	margin: 40px -5px;
	font-size: 20px;
	padding: 0;
	background-color: transparent;
}

#profile-builder {
	padding-top: 63px;
}

#map {
	padding: 20px 0 0;
	background-image: url(../img/map_pic.jpg);
	position: relative;
	color: #fff;
}

#map header {
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
	position: relative;
	z-index: 1;
}

#map .title-banner {
	padding: 10px 0;
	background-color: #444;
	color: #fff;
	font-family: "Adobe Caslon";
	font-size: 30px;
	position: relative;
}

#map .banner {
	position: absolute;
	top: -10px;
	right: 0;
	padding: 10px;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	background-color: #fff;
	box-shadow: 0 5px 5px 0 rgba(140,140,140,0.2);
}

#map .content {
	padding: 50px 0;
}

.location-box {
	margin: 20px 50px;
	background-color: #fff;
	position: relative;
	display: inline-block;
	font-family: "Titillium Light";
	box-shadow: 0 5px 5px 0 rgba(140,140,140,0.2);
}

.location-box:after {
	position: absolute;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fff;
	content: " ";
	bottom: -10px;
	left: 50%;
	margin-left: -10px;
}

.location-box .title {
	padding: 10px;
	color: #ADADAD;
}

.location-box .title span {
	color: #E85565;
}

.location-box .message {
	padding: 10px;
	color: #91B0F3;
}

.location-box .message img {
	max-width: inherit;
}

.location-box #location-pin {
	position: absolute;
	left: 50%;
	bottom: -70px;
	margin-left: -14px;
}

.safari-box {
	max-width: 350px;
	display: inline-block;
	color: #777;
	float: right;
}

.safari-box .message {
	background-color: #fff;
	padding: 10px 20px;
}

.safari-box .button {
	background-color: #F5F5F5;
	padding: 20px 50px;
	border-radius: 0 0 15px 15px;
	-moz-border-radius: 0 0 15px 15px;
	-webkit-border-radius: 0 0 15px 15px;
	box-shadow: 0 5px 5px 0 rgba(140,140,140,0.2);
}

.gray-section {
	position: relative;
	background-color: #F7F7F7;
	padding: 50px 0;
}

.tab-tag {
	position: absolute;
	top: -90px;
	left: 0;
	background-color: #fff;
	padding: 10px 20px;
	color: #63A319;
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
}

.tab-tag img {
	margin-right: 10px;
}

.calendar-box {
	position: relative;
	width: 100%;
	margin-bottom: 50px;
	box-shadow: 0px 0px 10px 1px #F1F1F1;
	margin-bottom: 50px;
}

.calendar-box .hanger-left {
	position: absolute;
	top: -30px;
	left: 25%;
	margin-left: 0px;
}

.calendar-box .hanger-right {
	position: absolute;
	top: -30px;
	right: 25%;
	margin-right: 0px;
}

.calendar-box .title {
	padding: 20px 40px;
	background-color: #6EC8D3;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
}

.calendar-box .message {
	padding: 40px;
	background-color: #fff;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}

.gray-circle {
	background-color: #F4F4F4;
	display: block;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	float: right;
	margin-left: 10px;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 25px;
}

.info-box {
	position: relative;
	border: 1px solid #EFEFEF;
}

.info-box .title {
	position: relative;
	padding: 5px 20px 5px 60px;
	color: #6E6E6E;
	border-bottom: 4px solid #03C9A8;
	height: 40px;
	background-color: #fff;
	font-family: "Titillium Light";
	font-weight: normal;
	font-size: 18px;
}

.info-box .title .icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	background-color: #03C9A8;
	text-align: center;
	padding: 5px 0;
}

.info-box .message {
	padding: 15px 20px;
	color: #8f8f8f;
	text-indent: 10px;
	font-size: 14px;
}

.info-box .button {
	background-color: #F9F9F9;
	color: #8BB4EA;
	padding: 8px 0;
	text-align: center;
	position: relative;
	display: block;
}

.info-box .button:hover {
	background-color: #e5e5e5;
	text-decoration: none;
}

.info-box .button .arrow {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #6EC8D3;
	height: 100%;
	width: 30px;
	line-height: 32px;
}

.calendar-box .bordered-img {
	border: 1px solid #ECECEC;
	padding: 10px;
	margin-top: 20px;
	box-shadow: 0px 0px 10px 1px #ececec;
}

.review-box {
	position: relative;
	border: 1px solid #ECECEC;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 20px;
}

.review-box .gray-banner {
	background-color: #ECECEC;
	padding: 20px;
}

.review-box .gray-banner .username {
	color: #606060;
	font-size: 20px;
	text-shadow: 1px 1px 1px #fff;
	font-family: "Titillium Regular";
	margin-bottom: 10px;
}

.review-box .gray-banner .comment {
	position: relative;
	color: #A6A6A6;
	background-color: #fff;
	padding: 20px;
	font-family: "Titillium Light";
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.review-box .gray-banner .comment:after {
	position: absolute;
	content: " ";
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid #fff;
	top: 20px;
	left: -10px;
}

.review-box .white-banner {
	background-color: #fff;
	padding: 20px;
}

.review-box .white-banner .title {
	position: relative;
	background-color: #6EC8D3;
	color: #fff;
	margin-left: -30px;
	padding: 10px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	text-align: center;
	font-weight: normal;
	font-family: "Titillium Light";
}

.review-box .white-banner .title:after {
	position: absolute;
	content: "";
	bottom: -10px;
	left: 0;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-top: 10px solid #438C92;
}

.review-box .white-banner .rate span {
	font-size: 35px;
	font-style: italic;
	color: #575757;
	font-family: "Titillium Thin";
	margin: 0 5px;
}

.review-box .white-banner .rate img {
	margin: 18px 0;
	margin-left: 5px;
	vertical-align: top;
}

.review-box .white-banner .button {
	background-color: #F9F9F9;
	color: #8BB4EA;
	padding: 8px 0;
	text-align: center;
	position: relative;
	display: block;
	margin: 0 -20px -20px;
	border-top: 1px solid #ececec;
}

.review-box .white-banner .button:hover {
	background-color: #e5e5e5;
	text-decoration: none;
}

.review-box:last-child,
.calendar-box:last-child {
	margin-bottom: 0;
}

section.blue-animals {
	background-image: url(../img/blue_background.jpg);
	background-size: 100% auto;
	padding: 30px 0;
	color: #fff;
	font-family: "Titillium Light";
	background-color: #59B9C5;
	background-repeat: no-repeat;
}

section.blue-animals .blue-message-box {
	height: 100px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background-color: #eee;
	color: #828282;
	font-size: 16px;
	padding: 20px 20px 20px 120px;
	position: relative;
	line-height: 26px;
}

section.blue-animals .blue-message-box img {
	width: 100px;
	position: absolute;
	left: 0;
	top: 0;
}

.dark-blue-box {
	border-radius: 50px 50px 10px 10px;
	-moz-border-radius: 50px 50px 10px 10px;
	-webkit-border-radius: 50px 50px 10px 10px;
	background-color: #319BA8;
	color: #fff;
}

.dark-blue-box .message {
	padding: 20px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.yellow-text {
	color: #FEE159;
}

a.yellow-text {
	color: #FEE159;
	text-decoration: underline;
}

.square-link {
	background-color: #fff;
	padding: 8px 0;
	text-align: center;
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: -1px;
}

@media (min-width: 1170px) {
	.container {
		width: 960px;
	}
}

@media (max-width: 1000px) {
	.dark-container {
		font-size: 11px;
	}
	.dark-container .banner {
		padding: 15px 10px;
	}
	.btn-orange {
		font-size: 20px;
		padding: 10px;
	}
	img {
		min-width: 20px;
	}
	table img {
		min-width: inherit;
	}
	.details .social img {
		min-width: inherit;	
	}
	select.calendar {
		min-width: inherit;
	}
	.profile-cover.cut .content .profile-pic {
		margin-top: -150px;
	}
	.profile-cover .content .profile-pic {
		margin-left: -100px;
		width: 200px;
	}
	.payment-table tbody tr td {
		padding: 10px;
	}
	.profile-cover .add-pic {
		margin-top: -50px;
	}
	.set-up-text {
		top: 100px;
		width: 250px;
		font-size: 22px;
	}
	.tag-sticker {
		padding: 4px;
		min-height: 62px;
	}
	.tag-sticker img {
		width: 14px;
		min-width: inherit;
	}
	.tab-style-on-responsive.nav-tabs.nav-justified>li>a {
		height: 75px;
		padding-top: 20px;
	}
	.fluid-text {
		white-space: inherit;
	}
	.wishlist .item .content .dropdown select {
		min-width: inherit;
	}
	.wishlist .item .content {
		overflow-y: auto;
		overflow-x: hidden;
		height: 160px;
	}
	.table.guests thead tr th {
		white-space: nowrap;
	}
	.table.guests thead tr th:last-child {
		padding: 11px 20px;
	}
	.table.payment-details img {
		min-width: 10px;
	}
	.tag {
		font-size: 14px;
	}
	.profile-title {
		margin: 0 -15px 40px;
		font-size: 16px;
	}
}

@media (max-width: 850px) {
	.set-up-text {
		top: 80px;
		width: 250px;
		font-size: 22px;
	}
	.location-img .title {
		padding: 5px;
		line-height: 16px;
	}
	.couple-box {
		overflow: visible;
		margin: 20px 10px;
	}
	.couple-box .profile-pic {
		position: absolute;
		left: -15px;
		top: -30px;
	}
}

@media (max-width: 768px) {
	.btn-orange {
		font-size: 24px;
		padding: 10px;
	}
	.font-44 {
		font-size: 30px;
	}
	.dark-container img {
		min-width: 20px;
	}
	.gray-title {
		text-align: center;
	}
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 16px;
	}
	body {
		font-size: 13px;
	}
	.btn-green {
		font-size: 17px;
		padding: 5px;
	}
	.text-left-under-768 {
		text-align: left !important;
	}
	.profile-cover .content .profile-pic {
		margin-left: -75px;
		width: 150px;
	}
	.profile-cover.cut .content .profile-pic {
		margin-top: -110px;
	}
	.profile-cover .content .title {
		padding: 10px 0;
	}
	.payment-table tbody tr td img {
		min-width: 100px;
	}
	.payment-table tbody tr td .dropdown select {
		min-width: 100px;
	}
	.small-width-under-768px {
		width: 25%;
	}
	.profile-cover .add-pic {
		margin-top: -75px;
	}
	.set-up-text {
		top: 30px;
	}
	.tag-sticker {
		min-height: inherit;
		height: 36px;
	}
	.tab-style-on-responsive.nav-tabs.nav-justified>li>a {
		height: auto;
		padding-top: 10px;
	}
	table img {
		min-width: 10px;
	}
	.uncheck-feature.full-width {
		margin: 0;
		padding: 10px;
		display: block;
		line-height: 20px;
	}
	.uncheck-feature.pull-right.mini {
		margin: 0;
		padding: 10px;
		display: block;
		line-height: 20px;
		float: none !important;
	}
	.table.guests thead tr th {
		white-space: nowrap;
	}
	.video-box {
		display: inline-block;
		margin-bottom: 20px;
	}
	.tag {
		font-size: 16px;
	}
}

@media (max-width: 650px) {
	.wishlist .item .content .title {
		font-size: 14px;
	}
	.wishlist .item .content .title span {
		font-size: 18px;
		line-height: 22px;
	}
	.wishlist .item .content .title .days {
		font-size: 18px;
		line-height: 26px;
	}
}

@media (max-width: 600px) {
	.profile-cover.cut .content .profile-pic {
		margin-top: -90px;
	}
	.profile-cover .content .profile-pic {
		margin-left: -60px;
		width: 120px;
	}
	#profile-builder .profile-cover .content .profile-pic {
		margin-top: -120px;
	}
	.set-up-text {
		width: 230px;
		font-size: 17px;
		padding: 0 10px;
	}
}

@media (min-width: 600px) {
	.show-under-600px {
		display: none;
	}
}

@media (max-width: 600px) {
	.show-under-600px {
		display: block;
	}
	.hide-under-600px {
		display: none;
	}
	.full-width-under-600px {
		width: 100%;
	}
	.dark-container {
		font-size: 12px;
	}
	menu .category img {
		width: 12px;
		min-width: inherit;
	}
	.wishlist .item .content .title {
		font-size: 12px;
	}
	.wishlist .item .content .title span {
		font-size: 14px;
		line-height: 22px;
	}
	.wishlist .item .content .title .days {
		font-size: 14px;
		line-height: 22px;
	}
	.wishlist .item .content {
		padding: 15px 10px;
		font-size: 12px;
	}
	.wishlist .item .content .dropdown select {
		margin-left: -20px;
	}
}

@media (max-width: 550px) {
	.btn-orange {
		font-size: 20px;
		padding: 10px;
	}
	.full-width-under550px {
		width: 100%;
	}
	.text-left-under550px {
		text-align: left !important;
	}
	.profile-cover.cut .content .profile-pic {
		margin-top: -80px;
	}
	.profile-cover .content .profile-pic {
		margin-left: -50px;
		width: 100px;
	}
	.profile-cover .content .title h1 {
		font-size: 24px;
	}
	.profile-cover .content .title h4 {
		font-size: 16px;
	}
	#profile-builder .profile-cover .content .profile-pic {
		margin-top: -100px;
	}
	.profile-cover .add-pic {
		margin-top: -65px;
		width: 30px;
		margin-left: -15px;
	}
	.set-up-text {
		width: 210px;
		font-size: 15px;
	}
	.wishlist .item .pic {
		width: 150px;
	}
	.wishlist .item {
		height: 120px;
		padding-left: 150px;
	}
	.wishlist .item .content {
		height: 120px;
	}
}

@media (max-width: 515px) {
	.font-44 {
		font-size: 24px;
	}
	.dark-container {
		padding: 10px 15px;
	}
	.dark-container .banner {
		margin: 10px -15px;
	}
	h1 {
		font-size: 26px;
	}
	#profile-builder .profile-cover .content .profile-pic {
		top: 0;
		margin-top: 20px;
		left: 15px;
		margin-left: 0;
	}
	.profile-cover .add-pic {
		margin-top: 55px;
		top: 0;
		margin-left: -15px;
		left: 65px;
	}
	.set-up-text {
		width: 330px;
		padding-left: 140px;
	}
	.full-width-under-500px {
		width: 100%;
	}
}

@media (max-width: 475px) {
	.details .social {
		padding: 10px;
		width: 40px;
		height: 40px;
	}
	.btn-green {
		font-size: 14px;
		padding: 0px;
	}
	.location-view .days {
		min-width: 160px;
		top: 10px;
		padding: 2px 10px;
		height: 30px;
	}
	.location-view .price {
		min-width: 160px;
		top: 40px;
		padding: 2px 10px;
		font-size: 16px;
	}
	.location-view .price .font-22 {
		font-size: 18px;
	}
	.location-view .wildlife {
		padding: 5px;
		line-height: 15px;
	}
	.gray-title {
		font-size: 16px;
	}
	.payment-table tbody tr td img {
		min-width: 80px;
	}
	.payment-table tbody tr td .dropdown select {
		min-width: 80px;
	}
	.wishlist .item .pic {
		width: 110px;
	}
	.wishlist .item {
		height: 89px;
		padding-left: 110px;
	}
	.wishlist .item .content {
		height: 89px;
	}
}

@media (max-width: 450px) {
	.details .social {
		padding: 4px;
		width: 30px;
		height: 30px;
	}
	.btn-green {
		font-size: 12px;
		padding: 5px;
		margin-left: -30px;
		white-space: nowrap;
		width: 70px;
	}
	.couples-form {
		width: 100%;
		margin-bottom: 20px;
	}
	.rings {
		position: absolute;
		top: -20px;
		margin-left: -30px;
		left: 50%;
	}
	.couples-form .gray-well {
		padding: 40px 30px;
	}
	.profile-cover .content .title {
		padding: 5px 15px;
		text-align: right;
	}
	.profile-cover.cut .content .profile-pic {
		margin-top: -50px;
		left: 10px;
		margin-left: 0;
	}
	.table.guests thead tr th {
		padding: 11px 5px;
	}
	.table.guests thead tr th:last-child {
		padding: 11px 5px;
	}
	.tag {
		font-size: 14px;
	}
	.tag .content {
		padding: 5px;
	}
	.couple-box .btn-green {
		width: 80%;
		margin-left: 10%;
		font-size: 18px;
	}
}

@media (max-width: 380px) {
	.gray-title {
		font-size: 14px;
	}
	.location-view .days {
		min-width: 120px;
		top: 5px;
		padding: 0px 5px;
		height: 25px;
	}
	.location-view .days .font-18 {
		font-size: 16px;
	}
	.location-view .price {
		min-width: 120px;
		top: 30px;
		padding: 0px 5px;
		font-size: 14px;
	}
	.location-view .price .font-22 {
		font-size: 16px;
	}
	.location-view .wildlife img {
		margin: 0 1px;
		max-width: 20px;
	}
	.profile-cover .content .title h1 {
		font-size: 20px;
	}
	.profile-cover .content .title h4 {
		font-size: 14px;
	}
	section.white {
		padding: 10px 0;
	}
	.small-width-under-768px {
		width: 41.66666667%;
	}
	menu .category {
		font-size: 12px;
	}
	.logo {
		margin: 15px 0;
	}
	.set-up-text {
		width: 310px;
		padding-left: 130px;
		top: 10px;
		font-size: 13px;
	}
	.uncheck-feature {
		margin: 0;
		padding: 10px;
		display: block;
		line-height: 20px;
	}
	.pack h4 {
		font-size: 14px;
	}
	.wishlist .item {
		height: auto;
		padding: 10px;
	}
	.wishlist .item .pic {
		width: 100%;
		position: relative;
	}
	.wishlist .item .content {
		height: auto;
	}
	#home {
		margin-bottom: 20px;
	}
}