@font-face {
	font-family: "Dancing Script";
	src: url(../fonts/dancing-script.otf);
}

@font-face {
	font-family: "Titillium Light";
	src: url(../fonts/titillium-light.otf);
}

@font-face {
	font-family: "Titillium Regular";
	src: url(../fonts/titillium-regular.otf);
}

@font-face {
	font-family: "Titillium Thin";
	src: url(../fonts/titillium-thin.otf);
}

@font-face {
	font-family: "Segoe Print";
	src: url(../fonts/segoe-print.ttf);
}

@font-face {
	font-family: "Roboto Light";
	src: url(../fonts/roboto-light.ttf);
}

body {
	font-family: "Titillium Regular";
	font-size: 15px;
	color: #A8A8A8;
}

/*REMOVER UNA VEZ INSERTADO EL HEADER Y EL FOOTER*/
header>img,
footer>img {
	width: 100%;
}
/*REMOVER UNA VEZ INSERTADO EL HEADER Y EL FOOTER*/

.container {
	width: 960px;
}

#home {
	padding: 20px 0 0;
	background-image: url(../img/banner_1.jpg);
	position: relative;
	color: #fff;
}

.font-dancing-script {
	font-family: "Dancing Script";
}

.font-44 {
	font-size: 44px;
}

.dark-text-shadow {
	text-shadow: -2px -2px 6px rgba(0,0,0,0.5);
}

.dark-container {
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	padding: 20px 30px;
	color: #fff;
	font-family: "Roboto Light";
}

a {
	color: #7E9BD3;
}

.dark-container .banner {
	background-color: #323232;
	color: #C4C4C4;
	padding: 15px 0;
	text-align: center;
	margin: 20px -30px;
}

.dark-container p {
	margin-bottom: 15px;
}

.two-lines-icon {
	margin-top: 10px;
}

.btn-orange {
	text-shadow: -1px -1px 6px rgba(0,0,0,0.5);
	font-family: "Dancing Script";
	background-color: #ff9b29;
	color: #fff !important;
	padding: 10px 0;
	text-align: center;
	border-bottom: 5px solid #b86114;
	font-size: 36px;
	width: 100%;
	display: block;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.btn-orange:hover {
	text-decoration: none;
}

section.white {
	background-color: #fff;
	padding: 30px 0;
}

.breadcrumb {
	background-color: transparent;
}

.breadcrumb a {
	text-decoration: underline;
}

.gray-title {
	background-color: #F5F5F5;
	padding: 10px;
	color: #5F5F5F;
	font-size: 18px;
	font-weight: bold;
	width: 100%;
}

.resumed-list {
	list-style: none;
	-webkit-padding-start: 0;
}

.resumed-list li {
	padding: 10px 10px 10px 25px;
	border-bottom: 1px dashed #C9C9C9;
	position: relative;
}

.resumed-list li:after {
	content: " ";
	background-image: url(../img/more_icon.png);
	width: 15px;
	height: 15px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -7px;
}

.orange-link {
	color: #F99442;
}

.post {
	padding: 0 0 10px;
	border-bottom: 1px dashed #C9C9C9;
	line-height: 16px;
}

img {
	max-width: 100%;
}

.promotion {
	background-image: url(../img/img_bg_1.jpg);
	font-family: "Titillium Light";
	width: 289px;
	height: 213px;
	margin-top: 10px;
	padding: 20px;
	color: #fff;
}

.promotion>span {
	font-size: 22px;
	line-height: 20px;
	margin-bottom: 20px;
	display: block;
}

.promotion .check-list {
	list-style-image: url(../img/check_icon.png);
	-webkit-padding-start: 25px;
	font-size: 16px;
	padding-top: 20px;
}

.black-title {
	font-family: "Segoe Print";
	background-color: #2D2D2D;
	padding: 10px 20px;
	width: 100%;
	color: #fff;
	line-height: 48px;
	white-space: nowrap;
}

.black-title a {
	line-height: 42px;
}

section.blue {
	background: -webkit-linear-gradient(#63ACCF, #A8D5EA); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#63ACCF, #A8D5EA); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#63ACCF, #A8D5EA); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#63ACCF, #A8D5EA); /* Standard syntax */
	padding: 30px 0;
	color: #fff;
	font-family: "Titillium Light";
}

.blue-box {
	background-color: #7BBAD9;
	padding: 20px 30px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 20px 0;
}

.main-title {
	margin-top: 5px;
	border-bottom: 1px solid #DBDBDB;
	padding-bottom: 15px;
	color: #616161;
}

.black-text {
	color: #616161;
}

.location-view {
	position: relative;
}

.location-view .days {
	min-width: 180px;
	position: absolute;
	left: 0;
	top: 20px;
	background-color: #fff;
	padding: 5px 15px;
	color: #737373;
	height: 35px;
}

.font-18 {
	font-size: 18px;
}

.location-view .price {
	min-width: 180px;
	font-family: "Titillium Light";
	position: absolute;
	left: 0;
	top: 55px;
	background-color: #4E4E4E;
	color: #fff;
	padding: 5px 15px;
	font-size: 20px;
}

.font-22 {
	font-size: 22px;
}

.location-view .wildlife {
	font-family: "Titillium Light";
	background-color: rgba(0,0,0,0.4);
	color: #fff;
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 10px 20px;
	font-size: 12px;
	line-height: 26px;
}

.location-view .wildlife img {
	margin: 0 5px;
}

.details {
	background-color: #EEEEEE;
	padding: 10px;
	width: 100%;
}

.details .social {
	background-color: #F5F5F5;
	width: auto;
	text-align: center;
	padding: 15px;
	display: inline-block;
	margin: 0 -1px;
	width: 53px;
	height: 53px;
	line-height: 18px;
}

.btn-green {
	font-family: "Titillium Regular";
	background-color: #66A121;
	color: #fff !important;
	padding: 5px 0;
	text-align: center;
	border-bottom: 5px solid #4B8514;
	font-size: 20px;
	width: 100%;
	display: block;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.btn-green:hover {
	text-decoration: none;
}

.combo {
	margin-top: 40px;
}

.orange-hr {
	border-color: #AF5F1A;
}

.orange-checklist {
	list-style-image: url(../img/orange_check.png);
	-webkit-padding-start: 25px;
}

.segoe-print-font {
	font-family: "Segoe Print";
}

.green-arrow-down {
	margin-bottom: -70px;
}

.video-box {
	box-shadow: 0 0 10px 2px #EDEDED;
	padding: 10px;
}

.tag-box {
	position: relative;
	margin-left: 30px;
	border-left: 1px dashed #82BFDB;
}

.tag {
	position: relative;
	height: 70px;
	margin-bottom: 15px;
	padding-left: 40px;
	background-color: #F5F5F5;
	font-family: "Roboto Light";
	font-size: 16px;
}

.tag .icon {
	position: absolute;
	top: 0;
	left: -60px;
}

.tag .content {
	padding: 10px;
	height: 70px;
}

section.orange {
	background-image: url(../img/carousel_section_background.jpg);
	padding: 30px 0;
	color: #fff;
	min-height: 440px;
}

.couple-box {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 20px;
	background-color: #fff;
}

.profile-pic img {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 3px solid #fff;
}

#couple_carousel {
	margin: 30px 0;
}

#couple_carousel .carousel-control {
	width: auto;
}

#couple_carousel .carousel-control.right {
	background: transparent;
	right: -50px;
	top: 50%;
	margin-top: -40px;
}

#couple_carousel .carousel-control.left {
	background: transparent;
	left: -50px;
	top: 50%;
	margin-top: -35px;
}

.gray-text {
	color: #5C5C5C;
}

.profile-pic {
	position: relative;
	z-index: 1;
}

.profile-title {
	margin: 0 -15px;
	font-size: 20px;
}

.location-img {
	position: relative;
	margin: 0 -5px 20px;
}

.location-img>img {
	margin-top: -30px;
}

.location-img .title {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	color: #fff;
	padding: 5px 10px;
	line-height: 26px;
}

.btn-green {
	font-family: "Titillium Light";
	background-color: #66A121;
	color: #fff !important;
	padding: 5px 0;
	text-align: center;
	border-bottom: 5px solid #4E8414;
	font-size: 22px;
	width: 100%;
	display: block;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.btn-green:hover {
	text-decoration: none;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.profile-title-big {
	margin: 40px -5px;
	font-size: 20px;
}

menu {
	width: 100%;
	position: fixed;
	top: 0;
	padding: 10px 0;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	margin: 0;
	font-family: "Titillium Light";
	z-index: 10;
}

menu .category {
	margin: 15px 0;
	text-align: center;
}

menu .category.middle {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

menu a {
	color: #fff;
}

menu a img {
	margin-right: 10px;
}

.profile-cover {
	position: relative;
}

.profile-cover .content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.profile-cover .content .profile-pic {
	position: absolute;
	top: 50%;
	margin-top: -130px;
	left: 50%;
	margin-left: -129px;
	border: 5px solid #fff;
	border-radius: 50%;
}

.profile-cover .content .title {
	background-color: rgba(255,255,255,0.7);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 20px 0;
	text-align: center;
	color: #565B57;
}

.profile-cover .content .title h1,
.profile-cover .content .title h4 {
	margin: 0;
}

.profile-cover .cover {
	width: 100%;
}

section.gray {
	background-color: #F5F5F5;
	position: relative;
	padding: 20px 0;
	color: #808080;
}

section.gray .black-text {
	color: #5A5A5A;
}

.bordered-img {
	border: 4px solid #fff;
}

.full-breadcrumb {
	margin: 10px 0;
}

.pack {
	border: 1px solid #DCDCDC;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 20px 10px;
	width: 100%;
	margin-bottom: 20px;
}

.hr-margin {
	margin: 20px 0;
}

.gray-box {
	background-color: #F9F9F9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
	color: #AEAEAE;
	margin: 10px 0 20px;
}

.full-width {
	width: 100%;
}

.hotel {
	border: 1px solid #DCDCDC;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	padding: 10px;
}

.hotel .detail {
	border: 1px solid #DCDCDC;
	margin: 0 -11px;
	padding: 10px;
}

.hotel .pic {
	margin: -10px -10px 20px;
}

.hotel .pic img {
	width: 100%;
}

.btn-box {
	border: 1px solid #DCDCDC;
	margin: -1px -11px -11px;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	background-color: #F5F5F5;
	padding: 15px 0;
}

section.gray-mosaic {
	background-image: url(../img/forms_background.png);
	background-size: 100%;
	background-color: #F7F7F7;
	position: relative;
	padding: 20px 0;
	color: #808080;
}

section.gray-mosaic .well {
	background-color: #fff;
	box-shadow: 0 0 0 transparent;
	padding: 30px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.alert-warning {
	color: #CBAC6B;
	background-color: #FDF8E4;
	border-color: #FCEED3;
}

.gray-well {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #F9F9F9;
	padding: 20px;
}

.gray-well hr {
	border-color: #CFCFCF;
	margin: 10px 0;
}

.wishlist .item {
	position: relative;
	height: 160px;
	background-color: #F7F7F7;
	color: #883638;
	width: 100%;
	padding-left: 200px;
	margin-bottom: 10px;
}

.wishlist .item .pic {
	position: absolute;
	width: 200px;
	left: 0;
	top: 0;
}

.wishlist .item .pic img {
	width: 100%;
}

.wishlist .item .content {
	display: inline-block;
	width: 100%;
	padding: 15px 20px;
}

.wishlist .item .content .title {
	margin: -15px -20px 15px;
	padding: 10px;
	border-bottom: 1px solid #E5E5E5;
	font-weight: bold;
	font-size: 18px;
}

.wishlist .item .content .title span {
	font-weight: normal;
	float: right;
	font-size: 22px;
	font-family: "Titillium Light";
	line-height: 26px;
}

.wishlist .item .content .title .days {
	background-color: #69DDF4;
	color: #fff;
	padding: 0 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 10px;
	font-size: 20px;
	line-height: 29px;
}

.wishlist .item .content .status {
	font-weight: bold;
}

.wishlist .item .content .available {
	color: #609b2b;
}

.wishlist .item .content .paid {
	color: #585858;
}

.dropdown {
	position: relative;
}

.dropdown:after {
	content: " ";
	position: absolute;
	top: 50%;
	right: 10px;
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #616161;
}

.dropdown select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #fff;
	min-width: 110px;
	border: 1px solid #D0D0D0;
	padding: 5px 20px 5px 10px;
	color: #616161;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 14px;
}

select:focus {
	outline: 0;
}

select.dropdown option {
	color: #858585;
}

.btn-orange.checkout {
	font-family: "Titillium Light";
	text-shadow: 0 2px 1px rgba(0,0,0,0.5);
	font-size: 26px;
}